/* entire container, keeps perspective */
.flip-container {
      perspective: 1000px;
}

/* flip the pane when clicked */
.flip-container.click .flipper {
      transform: rotateY(180deg);
}

.flip-container, .front, .back {
      width: 48em;
      height: 12em;
}

/* flip speed goes here */
.flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
}

/* hide back of pane during swap */
.front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
}

/* front pane, placed above back */
.front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
      transform: rotateY(180deg);
}

div.da {
      outline: 2px dashed black;
      outline-offset: -10px;
      height: 12em;
      width: 48em;
      position: relative;
      background-color: #D0EAFF;
      text-align: center;
}

.da-hover {
      background-color: #ECECEC !important;
      outline-offset: -15px !important;
}

#da-download-arrow {
      width: 60px;
      height: auto;
      position: absolute;
      top: 35%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
}

div.da p{
      margin: 0;
      color: #0f3c4b;
      position: absolute;
      top: 60%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
}

div.title {
      text-align: center;
}

#img-box {
      width: 48em;
      height: 48em;
      object-fit: contain;
}